@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.margin-top{
    margin-top: 10px;
}

/* ***********************
hero section
*********************** */
.hero {
    display: flex;

}

.background-image-container {
    background-image: url("../img/background.jpg");
    width: 68%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    /* height: 100vh; */

}

.login-container {
    height: 100vh;
   
    width: 620px;
    background-color: #FFFFFF;
    padding-top: 8%;
    padding-left: 5%;
    box-shadow: -1px -18px 10px 2px gray;
    padding-right: 5%;
}

@media screen and (max-width:1000px) {
    .background-image-container {
         width: 0;
    }
    .login-container{
        width: 100%;
        /* z-index: -1; */
        /* margin-top: 150px; */
        
    }
     
    
} 

.heading {
    display: inline-block;
    font-size: 40px;
    color: #15b8ef;
    font-weight: bold;
    /* margin-bottom: 38px; */
    /* color: #6a6767; */
    /* position: relative; */
    /* left: 30%; */
}

.emoji{
    width: 40px;
    object-fit: contain;
}

::placeholder {
    color: #15b8ef ;
}

#user-name,
#password {
    margin: 13px 0;
    width: 100%;
    padding: 2px 15px 2px 45px;
    outline: none;
    border: none;
    /* background-color: #f3f1f1; */
    color: #15b8ef;
    font-size: 19px;
    height: 57px;
    border-radius: 5px;
    /* box-shadow: 0px 1px 3px -1px rgb(67, 67, 238); */
    box-shadow: 0px 1px 3px -1px   rgb(147, 25, 254) ;
}

#user-name:focus,
#password:focus {
    transition: .4s ease;
    box-shadow: 1px 2px 4px -1px   #9319fe ;
    
}

.user-name,
.password {
    position: relative;
    padding: 0;
}

.login-container .user-name i,
.password i {
    font-size: 22px;
    position: absolute;
    opacity: 70%;
    color: #15b8ef ;
    top: 36%;
    left: 3%;
}

/* login buttob   */


#login {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
 
    outline: none;
    border: none;
    /* background-color: #6a6767; */
    background: #15b8ef;
background: linear-gradient(90deg, rgba(21,184,239,1) 30%, rgba(104,22,236,1) 97%);
    font-size: 18px;
    height: 50px;
    color: #fff;
    /* border-radius: 28px; */
    box-shadow: 0px 1px 3px -1px grey;
}

#login:hover {
    transform: scale(1.01);
    color: white;
    background-color: #3737f3;
    transition: .5s ease;
    box-shadow: 1px 2px 3px -2px grey;
}

.light-text {
    /* text-align: center; */
    position: relative;
    opacity: 60%;
    margin-top: 15px;
}

/* forgot password container  */
.remember-me-forgot-password-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remember-me-forgot-password-container p{
    padding: 5px 5px;
}

input[type="checkbox"]{
    height: 16px;
    width: 16px;
}

#forgot-password {
    /* left: 30%; */
     /* top:4px; */
    
}
#forgot-password:hover {
    color: red;
    opacity: 99%;
}




/* login with container  */



.login-container a {
    opacity: 70%;
    font-size: 18px;

    text-decoration: none;
    color: #000;
}


.login-with-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* gap: 40px; */
    padding: 5px 15px;
    align-items: center;
    margin-top: 20px;
    
}
.icon-container
{
    
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    gap: 40px;
    padding: 5px 15px;
    align-items: center;
    margin-top: 20px;
}

.login-with-container i {
    font-size: 50px;
    color: #15b8ef;
}

.login-with-container i:hover {
    transform: scale(1.3);
    color: #3737f3;
    transition: .4s ease;
}